@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;

  max-width: 100%;
  width: 350px;
  margin-bottom: 20px;

  position: relative;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 3px;
  transform: translateY(-50%);
  z-index: -1;

  transition: width 0.5s ease;
}

.circle {
  background-color: white;
  border: 3px var(--line-border-empty) solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle.active {
  border: 3px var(--line-border-fill) solid;
  transition: 0.4 ease;
}

.btn {
  background-color: var(--line-border-fill);
  color: white;
  font-family: inherit;
  border: 0;
  margin: 8px;
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

/* .btn:focus {
  outline: 0;
} */
