@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background-color: #348498;
}
.container {
  display: flex;
}

.empty {
  background-color: #f5f7fa;
  width: 150px;
  height: 150px;
  border: 2px #d0dfe6 solid;
  margin: 20px;
}

.fill {
  background-image: url("https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
  background-size: cover;
  width: 145px;
  height: 145px;
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
}

.invisible {
  display: none;
}

.hovered {
  border: 2px gray dashed;
  background-color: honeydew;
}

header h1 {
  color: #f5f7fa;
  margin: 50px;
}
